@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0px;

}
.row h1 {
    margin: auto;
    margin-top: 2%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row h2 {
    text-align: center;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Input {
    height: 40px;
    width: 80%;
    border: 2px solid black;
    border-radius:0px;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Text {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-logo {
    height: 100px !important;
    padding-top: 15px;
}
.sidebar{
    height: auto;
}

.col-md-10 input{
    margin-left: 7%;
}
.col-md-4 :hover{
    transform: translateY(-10px);
}